.check-button{
    /* box */
    padding: 8px 20px; 
    border-color: var(--grayscale-Gray-02, #D6D6D6);
    background-color: var(--grayscale-white, #FFF);
}
.check-button>p{
     /*p2*/
    color: var(--grayscale-Gray-04, #757575);
}
.check-button:checked{
    border-color: var(--Main-color, #3885F8);
    background-color: var(--select-blue, #F7F9FF);
}
.check-button:checked>p{
    /*p2*/
    color: var(--Main-color, #3885F8);
}

.check-request-button{
    /* box */
    padding: 8px;
    border-color: var(--grayscale-Gray-02, #D6D6D6);
    background-color: var(--grayscale-white, #FFF);
    /* caption */
    color: var(--grayscale-Gray-05, #4F4F4F);
}
.check-request-button:checked{
    border-color: var(--Main-color, #3885F8);
    background-color: var(--select-blue, #F7F9FF);
    /* caption */
    color: var(--Main-color, #3885F8);
}